@charset "UTF-8";

:root{
    --cor1: #171A4A;
    --cor2: #383C74;
    --cor3: #666A9F;
    --cor4: #A3A6C9;
    --cor5: #C9CCF4;
    --cor6: #3a3a42;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: var(--cor5);
}

header{
    background-image: linear-gradient(to top, var(--cor1), black);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.485);
}


header img {
    display: block;
    margin: 0 auto;
}


nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    padding: 10px;
}


.container {
    display: flex;
    justify-content: center; 
    padding: 10px; 
    background-color: transparent;
    border: 5px solid #FF9800; 
    border-radius: 30px; 
}


nav a{
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.485);
    background-color: #FF9800;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 0 5px;
    font-size: 15px;
    transition-duration: .2s;
}

nav a:hover{
    text-decoration: underline;
    color: white;
    background-color: #9B2915;
    border: 3px solid #9B2915;
}




main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.477);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

main h1{
    color:black;
}


main h2{
    color: var(--cor5);
    background-image: linear-gradient(to right , var(--cor1) , transparent);
}


main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

div{
    background-color: var(--cor3);
    margin: 20px;
}


div img{
    display: block;
    margin: 0 auto;
}


aside{
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.485);
}


aside > h3{
    background-color: var(--cor1);
    text-align: center;
    color: white;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    border-radius: 10px 10px 0px 0px ;
}


aside > ul{
    list-style-position: inside;
    columns: 2;
    
}


aside li{
    border: 3px solid var(--cor2);
    list-style: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.485);
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

aside li:hover{
    background-color: var(--cor2);
    color: var(--cor5);
    text-decoration:underline;

}




footer{
    background-color: var(--cor1);
    color: white;
    text-align: center;
    font-size: .8em;
    padding: 10px;
    margin: 0px;
}